{#
  Visual button
  - button: {link}
  - classes: [string]
#}

<a href="{{ button.url }}" class="{{ classes|join(' ') }}" target="{{ button.target }}" aria-label="{{ ariaLabel }}">
  {{ button.title }}
</a>
