{#<section class="{{ className }} {{ className }}__{{ blockName }}">
  {% include '_partials/block-title.twig' %}

  {{ dump(post.ID) }}


   <div class="js-accordion">
    {% for row in fields.accordion %}
      <h3 class="h4 js-accordion__header">{{ row.title }}</h3>
      <div class="js-accordion__panel">
        {{ row.copy }}
      </div>
    {% endfor %}
  </div> 

</section>
#}

<div class="gutenbergBlock" data-block="accordion" data-page-index="{{ post.ID }}">
  <h3 class="h2 m-block__accordion__admin-message">Accordion Block</h3>
</div>