<section class="{{ className }} {{ className }}__{{ blockName }}">
  {% include '_partials/block-title.twig' %}
  
  {% set image = fields.image %}
  <figure>
    <picture>
      <source media="(max-width: 400px)" data-srcset="{{ Image(image).src|resize(400) }} 1x, {{ Image(image).src|resize(800) }} 2x" type="image/jpeg">
      <source media="(max-width: 800px)" data-srcset="{{ Image(image).src|resize(800) }} 1x, {{ Image(image).src|resize(1600) }} 2x" type="image/jpeg">
      <img
        {% if is_preview %}
          src="{{ Image(image).src }}"
        {% else %}
          data-src="{{ Image(image).src }}"
          data-srcset="{{ Image(image).src }} 1x, {{ Image(image).src }} 2x"
          class="lazy"
        {% endif %}
        alt="{{ image.alt }}"
      />
    </picture>

    {% if image.caption %}
      {% include "atoms/image-credit.twig" with {credit: image.caption} %}
    {% endif %}
  </figure>
  
</section>
