<div class="m-banner m-banner--page m-banner--alt" role="banner">
  <div class="grid">
    <div class="col-sm-12">

      <div class="m-banner__inner">

        <div class="m-banner__copy">
          <h1 class="h2">
            {% if title %}
              {{ title }}
            {% else %}
              {{ post.title }}
            {% endif %}            
          </h1>

          {{ strapline }}
        </div>

        {% if cta %}

          {% if fields.button %}          
            {% include "/atoms/button.twig" with {
              button: fields.button,
              hasIcon: true,
              classes: [
                'a-btn',
                'a-btn--icon'
              ]
            } %}
          {% endif %}

        {% elseif post.thumbnail.src %}

          <figure class="m-banner__image">
            {% set imageXs = post.thumbnail.src|resize('400','300') %}
            {% set imageSm = post.thumbnail.src|resize('768','400') %}
            {% set imageMd = post.thumbnail.src|resize('415','216') %}
            {% set imageBg = post.thumbnail.src|resize('615','320') %}

            <picture>
              <source media="(max-width: 400px)" data-srcset="{{ imageXs }}" type="image/jpeg">
              <source media="(max-width: 768px)" data-srcset="{{ imageSm }}" type="image/jpeg">
              <source media="(max-width: 1100px)" data-srcset="{{ imageMd }}" type="image/jpeg">
              <img data-src="{{ imageBg }}" alt="{{ post.thumbnail.alt }}" class="lazy" />
            </picture>

            {% include "/atoms/image-credit.twig" with {
              credit: post.thumbnail.caption
            } %}
          </figure>
          
        {% endif %}
      </div>

    </div>
  </div>
</div>
