{#
  Teaser template
  - teaser: post object
  - type: string
  - isBookable: bool
  - largeTitle: bool
  - imageMaxHeight: int
  - imageMaxWidth: int
  - imageWidths: [{size: int, imageWidth: int , imageWidth2x: int}]
#}

{% set postType = teaser.post_type %}

<article class="m-{{ type }}" data-postType="{{ postType }}">

  <a href="{{ teaser.link }}" class="m-{{ type }}__thumb" tabindex="-1" aria-label="Link to {{ teaser.post_title }}">
    {% include "atoms/teaser-image.twig" %}
  </a>

  <div class="m-{{ type }}__content">
    {% if largeTitle %}
      <h3 class="h2"><a href="{{ teaser.link }}">{{ teaser.post_title }}</a></h3>
    {% else %}
      <h3><a href="{{ teaser.link }}">{{ teaser.post_title }}</a></h3>
    {% endif %}

    {% if postType == 'post' %}
      <p>{{ teaser.post_date|date('j M Y') }}</p>
    {% endif %}

    {% if teaser.post_excerpt %}
      <p>{{ teaser.post_excerpt[:250]|striptags }}</p>
    {% endif %}
  </div>

  {% if type == 'teaser' %}
    <div class="m-{{ type }}__buttons">
      {% include "atoms/button.twig" with {
        button: {
          url: teaser.link["url"],
          title: teaser.link["title"] ? teaser.link["title"] : 'Read more',
          target: teaser.link["target"] ? teaser.link["target"] : ''
        },
        ariaLabel: 'Read more about ' ~ teaser.post_title
      } %}
    </div>
  {% endif %}
</article>
