{% extends "/layout/base.twig" %}

{% block content %}
	<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}" data-template="page.twig">

    {% include "/molecules/banner.twig" %}
      
    <h1>{{ post.title }}</h1>

    {% for block in blocks %}
      {{ block }}
    {% endfor %}
  
    <aside class="o-page__col o-page__right">
      {{ subnav }}
    </aside>

	</article>
{% endblock %}
